<c3:config xmlns:c3="http://www.cheshire3.org/schemas/config/" xmlns:mets="http://www.loc.gov/METS/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/" type="database" id="db_clic">
  <c3:objectType>cheshire3.database.SimpleDatabase</c3:objectType>
  <c3:paths>
    <c3:path type="defaultPath">/Users/johan/projects/clic/clic/dbs/clic</c3:path>
    <c3:path type="metadataPath">.cheshire3/stores/metadata.bdb</c3:path>
    <c3:object ref="recordStore" type="recordStore"/>
    <c3:object ref="cqlProtocolMap" type="protocolMap"/>
    <c3:path type="indexStoreList">indexStore</c3:path>
  </c3:paths>
  <c3:subConfigs>
    <c3:subConfig type="recordStore" id="recordStore">
      <c3:objectType>cheshire3.recordStore.BdbRecordStore</c3:objectType>
      <c3:paths>
        <c3:path type="defaultPath">.cheshire3/stores</c3:path>
        <c3:path type="databasePath">recordStore.bdb</c3:path>
        <c3:object ref="StringIntNormalizer" type="idNormalizer"/>
        <c3:object ref="XmlToLZ4Workflow" type="inWorkflow"/>
        <c3:object ref="LZ4ToLxmlWorkflow" type="outWorkflow"/>
      </c3:paths>
      <c3:options>
        <c3:setting type="digest">md5</c3:setting>
      </c3:options>
    </c3:subConfig>
    <c3:subConfig type="indexStore" id="indexStore">
      <c3:objectType>cheshire3.indexStore.BdbIndexStore</c3:objectType>
      <c3:paths>
        <c3:path type="defaultPath">.cheshire3/indexes</c3:path>
        <c3:path type="tempPath">temp</c3:path>
        <c3:path type="recordStoreHash">recordStore</c3:path>
      </c3:paths>
    </c3:subConfig>
    <c3:subConfig type="protocolMap" id="cqlProtocolMap">
      <c3:objectType>cheshire3.protocolMap.CQLProtocolMap</c3:objectType>
      <c3:paths>
        <c3:path type="zeerexPath">/Users/johan/projects/clic/clic/dbs/clic/.cheshire3/zeerex_sru.xml</c3:path>
      </c3:paths>
    </c3:subConfig>
    <c3:subConfig type="preParser" id="MagicRedirectPreParser">
      <c3:objectType>cheshire3.preParser.MagicRedirectPreParser</c3:objectType>
      <c3:hash>
        <c3:object mimeType="application/pdf" ref="PdfToMetsPreParserWorkflow"/>
        <c3:object mimeType="text/prs.fallenstein.rst" ref="ReSTToMetsPreParserWorkflow"/>
        <c3:object mimeType="text/plain" ref="TxtToMetsPreParserWorkflow"/>
        <c3:object mimeType="text/html" ref="HtmlToMetsPreParserWorkflow"/>
        <c3:object mimeType="*" ref="METSWrappingPreParser"/>
      </c3:hash>
    </c3:subConfig>
    <c3:path type="includeConfigs">/Users/johan/projects/clic/clic/dbs/clic/.cheshire3/configSelectors.xml</c3:path>
    <c3:path type="includeConfigs">/Users/johan/projects/clic/clic/dbs/clic/.cheshire3/configIndexes.xml</c3:path>
    <c3:path type="includeConfigs">/Users/johan/projects/clic/clic/dbs/clic/.cheshire3/configWorkflows.xml</c3:path>
  </c3:subConfigs>
</c3:config>
